.container
  .card
    .card-content
      %h2{class: "card-title"} 新規投稿
      = form_with model: @post do |f|
        .divider
        .input-field
          = f.label :title
          = f.text_field :title, autofocus: true, autocomplete: "title"
        .field
          = f.label :text
          = f.text_area :text, autofocus: true, autocomplete: "text", class: "post--textarea"
        = f.submit '投稿', class: 'default-btn'