.container.card--medium
  .card
    .card-content
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        %h2{class: "card-title"}="#{render_name}"
        = render "users/shared/error_messages", resource: resource
        .divider
        .input-field
          = f.label :name
          = f.text_field :name, autofocus: true, autocomplete: "name"
        .input-field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .input-field
          = f.label :password do
            - if @minimum_password_length
              %em="パスワード (#{@minimum_password_length} 文字以上)"
          = f.password_field :password, autocomplete: "new-password"
        .input-field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .field#avatar_box
          = f.label :avatar, id: 'avatar_upload_label' do
            .avatar_upload_btn.default-btn="アバターアップロード"
            = f.file_field :avatar, class: 'hidden'
          #avatar_delete_btn.default-btn="アバター削除"
          #preview_box
            #preview_avatar
            #preview_result_box
              - if @user.avatar.attached?
                #preview_trim_title='プレビュー'
                #preview_result
                  =image_tag @user.avatar, id: 'preview_trim_avatar'
                  =image_tag @user.avatar, id: 'preview_hidden_trim_avatar'
              - else
                #preview_result
        .actions
          #user_submit_btn.default-btn="#{render_name}"
      = render "users/shared/links"
      - if type.include?("edit")
        = button_to "アカウント削除", registration_path(resource_name), class: 'red default-btn', data: { confirm: "アカウントを削除して良いですか?" }, method: :delete
      = link_to "戻る", :back, class: 'btn-small'