.container
  .card
    .card-content
      %h2{class: "card-title"} 新規アカウント作成
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "users/shared/error_messages", resource: resource
        .divider
        .input-field
          = f.label :name
          = f.text_field :name, autofocus: true, autocomplete: "name"
        .input-field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .input-field
          = f.label :password do
            - if @minimum_password_length
              %em="パスワード (#{@minimum_password_length} 文字以上)"
          = f.password_field :password, autocomplete: "new-password"
        .input-field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .field
          = f.label :avatar, id: 'avatar_upload_label' do
            .avatar_upload_btn.default-btn="アバターアップロード"
            = f.file_field :avatar, class: 'hidden'
          #preview_box
            #preview_avatar
            #preview_result_box
              #preview_result
        .actions
          = f.submit "アカウント作成", class: 'default-btn'
      = render "users/shared/links"
